@charset "UTF-8";
/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #ececec;
  padding: 0 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

@media (max-width: 72.5rem) {
  .header {
    padding: 0.125rem 0.9375rem;
  }
}

@media (max-width: 26.6875rem) {
  .header {
    gap: 1.25rem;
  }
}

.header__logo {
  height: 3.125rem;
}

@media (max-width: 47.9375rem) {
  .header__logo {
    margin-right: calc(5px + (587 - 390) * ((100vw - 425px) / (700 - 390)));
  }
}

@media (max-width: 26.6875rem) {
  .header {
    margin-right: 5rem;
  }
}

.header img {
  width: auto;
  height: 100%;
}

.header__nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(5px + (80 - 5) * ((100vw - 900px) / (1440 - 900)));
}

@media (max-width: 47.9375rem) {
  .header__nav_menu {
    display: none;
  }
}

@media (max-width: 26.6875rem) {
  .header__nav_menu {
    gap: 1.25rem;
  }
}

.menu_item {
  position: relative;
  list-style: none;
  text-align: center;
  padding-bottom: 0.3125rem;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  line-height: 1rem;
}

.menu_item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: #0062ff;
  opacity: 1;
}

.menu_item a {
  text-decoration: none;
  color: #262626;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.header__search {
  width: 13.75rem;
}

@media (max-width: 26.6875rem) {
  .header__search {
    text-align: end;
    font-size: #262626;
    width: 2.1875rem;
  }
}

label {
  position: relative;
}

.search_input {
  width: 100%;
  height: 2.375rem;
  border: 1px solid #c1c1c1;
  padding: 0 2.5rem 0 0.625rem;
  border-radius: 3px;
  outline: none;
}

@media (max-width: 26.6875rem) {
  .search_input {
    display: none;
  }
}

.search_btn {
  position: absolute;
  right: 0;
  width: 2.5rem;
  height: 2.1875rem;
  border: none;
  background: inherit;
  cursor: pointer;
}

.search_btn .fa-solid {
  font-size: 1.25rem;
  color: #b1b1b1;
}

@media (max-width: 26.6875rem) {
  .search_btn .fa-solid {
    color: #262626;
  }
}

.search_btn .fa-solid:hover {
  color: #262626;
}

@media (max-width: 26.6875rem) {
  .search_btn {
    position: relative;
    text-align: center;
  }
}

.header__profile .fa-solid {
  font-size: 1.5rem;
  text-decoration: none;
  color: #262626;
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.menu-burger {
  display: none;
}

@media (max-width: 47.9375rem) {
  .menu-burger {
    display: block;
    position: relative;
    width: 1.5625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 1;
  }
}

.menu-burger::before, .menu-burger::after {
  content: "";
}

.menu-burger::before {
  top: 0;
}

.menu-burger::after {
  bottom: 0;
}

.menu-burger span, .menu-burger::before, .menu-burger::after {
  left: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #262626;
}

.menu-burger span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

._close span {
  background: #262626;
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

._close::before {
  background: #262626;
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

._close::after {
  background: #262626;
  top: 40%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

._lock {
  overflow: hidden;
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.nav__menu {
  display: none;
}

@media (max-width: 767px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 3.125rem;
    margin: 0;
    border: none;
    background: #ececec;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    right: -100%;
  }
}

hr {
  height: 0.1875rem;
  background: #262626;
}

.nav__menu_item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #262626;
  padding: 0.4375rem 1.25rem;
  height: 2.5rem;
  font-weight: 400px;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
}

.nav__menu_item:hover {
  font-weight: bold;
  background-color: #3b6caa;
  color: #fff;
}

.nav__menu_item:after {
  font-family: FontAwesome, serif;
  content: "\+";
  font-size: 1rem;
  color: #262626;
  float: right;
  margin-left: 5px;
}

._open {
  right: 0;
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.accordion {
  width: 100%;
  height: auto;
  background: #ececec;
  padding: 48px 0 70px;
  display: block;
}

.accordion__button {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 27px;
  color: #262626;
  cursor: pointer;
  padding-right: 20px;
  text-align: left;
  background: #ececec;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.accordion__button:after {
  font-family: FontAwesome, serif;
  content: "\+";
  font-size: 1rem;
  color: #262626;
  float: right;
  margin-left: 5px;
}

.accordion__panel {
  background-color: #ececec;
  color: #262626;
  line-height: 27px;
  max-width: 1100px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-left: 10px;
}

.accordion__panel_item {
  text-align: left;
  padding: 7px 20px 7px 40px;
  list-style: none;
}

.accordion__panel_item a {
  text-decoration: none;
  color: #262626;
}

.active::after {
  font-family: FontAwesome, serif;
  content: "\f068";
  color: #fff;
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/img/land.jpg") center/cover no-repeat;
  height: 35rem;
  color: #fff;
  padding: 2rem 1rem;
}

.promo__title {
  font-size: calc(30px + (53 - 30) * ((100vw - 320px) / (1170 - 320)));
  font-weight: 300;
  line-height: calc(35px + (63 - 35) * ((100vw - 320px) / (1170 - 320)));
  max-width: 39.375rem;
}

.promo__text {
  font-size: 1.375rem;
  max-width: 26.25rem;
  line-height: 1.875rem;
  margin-bottom: 2rem;
}

@media (max-width: 26.6875rem) {
  .promo__text {
    text-align: center;
  }
}

.promo .button {
  width: 14.375rem;
  padding: 0.8125rem 1.25rem;
  background: #0062ff;
  color: #ececec;
  font-size: 1rem;
  text-decoration: none;
}

.promo .button:hover {
  background: #0052d5;
}

.promo .button:after {
  font-family: FontAwesome, serif;
  content: "\f061";
  font-size: 1.25rem;
  margin-left: 20px;
  vertical-align: middle;
}

@media (max-width: 26.6875rem) {
  .promo .button {
    margin: 0 auto;
    display: block;
    font-size: 1rem;
    padding: 0.8125rem 1.0625rem;
  }
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
  background: #f2f4f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.9375rem) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

.news__text {
  width: calc(320px + (805 - 350) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(18px + (36 - 18) * ((100vw - 320px) / (1170 - 320)));
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1170 - 320)));
  font-weight: 300;
  margin-right: 10px;
}

.news__text span {
  font-weight: 400;
}

.news .button {
  width: 14.375rem;
  padding: 0.8125rem 1.25rem;
  background: #0062ff;
  color: #ececec;
  font-size: 1rem;
  text-decoration: none;
}

.news .button:hover {
  background: #0052d5;
}

.news .button:after {
  font-family: FontAwesome, serif;
  content: "\f061";
  font-size: 1.25rem;
  margin-left: 20px;
  vertical-align: middle;
}

/* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
.header_menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 35%;
  height: 100vh;
  background: #ececec;
  padding: 48px 0 70px;
  display: block;
  z-index: 1;
}

.header_menu__button {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 27px;
  color: #262626;
  cursor: pointer;
  padding-right: 20px;
  text-align: left;
  background: #ececec;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header_menu__button:after {
  font-family: FontAwesome, serif;
  content: "\+";
  font-size: 1rem;
  color: #262626;
  float: right;
  margin-left: 5px;
}

.header_menu__panel {
  color: #262626;
  line-height: 27px;
  max-width: 1100px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-left: 10px;
}

.header_menu__panel_item {
  text-align: right;
  font-size: 1.375rem;
  font-weight: 300;
  padding: 12px 20px 12px 40px;
  list-style: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_menu__panel_item a {
  text-decoration: none;
  color: #262626;
}

.header_menu__panel_item a:hover {
  color: #ececec;
}

.header_menu__panel_item:hover {
  background: #0062ff;
}

.open {
  top: 51px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #262626;
  line-height: 1.5rem;
  font-weight: normal;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */