ul.menu {
  div.pod-punkt {
    display: none;
    position: absolute;
    top: 50px;
    left: -190px;
    width: 600px;
    height: 708px;
    background: #d9d9d9;
    padding: 48px 0;
    z-index: 0;
    @media (max-width: rem(951)) {
      top: 69px;
      height: 681px;
    }
  }
  li.punkt {
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid $blueColor;
    }
  }
  li.punkt:hover div.pod-punkt {
    display: block;
  }
  .drop__list_item {
    text-align: right;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
    color: $fontSizeColor;
  }
  a.drop__list_link {
    display: block;
    font-size: rem(22);
    padding: 16px 30px 16px 0;
    @media (max-width: rem(951)) {
      font-size: rem(18);
    }
    &:hover {
      background: $blueColor;
      color: $mainColor;
    }
  }
}

.pod-produkt {
  position: relative;
}

.submenu__pod-punkt {
  display: none;
  position: absolute;
  top: 0;
  left: 600px;
  width: 841px;
  height: rem(708);
  background: $mainColor;
  padding: 48px 0 48px 30px;
  text-align: start;
}

.submenu__title {
  font-size: rem(50);
  font-weight: 300;
  margin-bottom: rem(40);
  color: $blueColor;
}

.submenu__text {
  width: rem(320);
  color: $fontSizeColor;
  line-height: rem(24);
  font-size: rem(18);
  font-weight: 300;
  margin-bottom: 30px;
}

.submenu__item {
  a {
    display: inline-block;
    padding: 16px 0 16px;
    color: $blueColor;
    font-size: rem(18);
    &:hover {
      text-decoration: underline;
    }
  }
}
.submenu__img {
  position: absolute;
  top: 100px;
  right: 100px;
  width: rem(400);
  height: auto;
}

li.submenu:hover div.submenu__pod-punkt {
  display: block;
}
