.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(58, 58, 58, 0.3), rgba(239, 239, 239, 0.3)),
    url("../img/bg-promo1.jpeg") center / cover no-repeat;
  height: rem(560);
  color: $mainColor;
  padding: rem(32) rem(16);

  &__title {
    font-size: calc(30px + (53 - 30) * ((100vw - 320px) / (1170 - 320)));
    font-weight: 300;
    line-height: calc(35px + (63 - 35) * ((100vw - 320px) / (1170 - 320)));
    max-width: rem(630);
  }
  &__text {
    font-size: rem(22);
    max-width: rem(420);
    line-height: rem(30);
    margin-bottom: rem(32);
    @media (max-width: rem(427)) {
      text-align: center;
    }
  }

  .button {
    @include button;
    @media (max-width: rem(427)) {
      margin: 0 auto;
      display: block;
      font-size: rem(16);
      padding: rem(13) rem(17);
    }
  }
}
