.towers {
  display: flex;

  &__left,
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: rem(650);
    padding: rem(16) rem(32) 0;
    background: url("../img/bg-tower-left.jpeg") center / cover no-repeat;
    &:last-child {
      text-align: end;
    }
    .info {
      color: $whiteSize;
      &__title {
        font-size: rem(53);
        font-weight: 300;
        line-height: 57px;
        max-width: 270px;
        margin-bottom: rem(24);
      }
      &__text {
        max-width: 250px;
      }
      &__btn {
        position: absolute;
        bottom: 0;
        right: rem(16);
        width: rem(325);
        height: rem(160);
        padding: rem(16);
        background: $blueColor;
        .btn__link {
          text-decoration: none;
          color: $whiteSize;
          .fa-solid {
            margin-left: 95%;
          }
          .btn__text {
            max-width: rem(200);
            font-size: rem(20);
            font-weight: 300;
            line-height: rem(26);
          }
        }
      }
    }
  }
  &__right {
    background: url("../img/bg-tower-right.jpeg") center / cover no-repeat;
    .info {
      color: $fontSizeColor;
      &__title {
        text-align: left;
      }
      &__text {
        text-align: start;
        max-width: 250px;
      }
      &__btn {
        .btn__text {
          max-width: rem(200);
          font-size: rem(20);
          font-weight: 300;
          line-height: rem(26);
          text-align: left;
        }
      }
    }
  }
}
