//@import "_mixin.scss";

.nav__menu {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: rem(50);
    margin: 0;
    border: none;
    background: $mainColor;
    transition: 0.2s;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    right: -100%;
  }
  // &::before {
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: rem(2);
  //   background: $fontSizeColor;
  // }
}
hr {
  height: rem(3);
  background: $fontSizeColor;
}
.nav__menu_item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $fontSizeColor;
  padding: rem(7) rem(20);
  height: rem(40);
  font-weight: 400px;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    font-weight: bold;
    background-color: #3b6caa;
    color: #fff;
  }
  &:after {
    font-family: FontAwesome, serif;
    content: "\+";
    font-size: rem(16);
    color: $fontSizeColor;
    float: right;
    margin-left: 5px;
  }
}
._open {
  right: 0;
}
