@import "mixin";

.cards-news {
  display: flex;
  justify-content: space-between;
  padding: rem(32) 0;
  &__title {
    font-size: rem(16);
    font-weight: 600;
    padding-left: rem(30);
  }

  .carousel {
    position: relative;
    width: 1050px;
    height: rem(550);
    background: #fff;
    img {
      width: 100%;
      height: auto;
      margin: 0;
      /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
      display: block;
    }
    .card {
      width: rem(333);
      height: rem(480);
      margin: 0 auto;
      background: #f2f4f8;
      &:hover {
        background: #d8dbe1;
      }
      &__info {
        font-size: rem(16);
        padding: rem(16);
        line-height: 20px;
        &_title {
          font-size: rem(16);
          color: $fontSizeColor;
          font-weight: 600;
          margin-bottom: rem(8);
        }
        &_text {
          color: $fontSizeColor;
          margin-bottom: rem(30);
        }
        .text-down {
          margin-bottom: rem(75);
        }
        &_link {
          color: $blueColor;
          font-size: rem(22);
        }
      }
    }
    .arrow {
      width: rem(32);
      height: rem(32);
      position: absolute;
      bottom: 0;
      padding: 0;
      background: $blueColor;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      border: none;
      display: block;
      &:focus {
        outline: none;
      }
      &:hover {
        background: #0052d5;
        cursor: pointer;
      }
    }
    .prev {
      right: rem(70);
      content: "\f053";
    }
    .next {
      right: rem(20);
    }
  }
  .gallery {
    width: 1040px;
    overflow: hidden;
    height: 480px;
    ul {
      height: 480px;
      width: 9999px;
      margin: 0;
      padding: 0;
      list-style: none;
      transition: margin-left 250ms;
      /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
      /* http://davidwalsh.name/remove-whitespace-inline-block */
      font-size: 0;
    }
    li {
      display: inline-block;
      padding: 0 16px 0 0;
    }
  }
}
